@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  margin: 0;
}

header {
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 35px;
  padding: 20px;
}
header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
}

a {
  text-decoration: none;
  color: rgb(77, 77, 192);
}
a:hover {
  text-decoration: underline;
}

input[type=submit],
.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 8px 25px;
  border-radius: 50px;
  background-color: rgb(77, 77, 192);
  color: white;
  text-align: center;
  transition: background-color 0.2s ease;
}
input[type=submit]:hover,
.btn:hover {
  text-decoration: none;
  background-color: rgb(51, 51, 133);
}
input[type=submit].icon,
.btn.icon {
  position: relative;
  padding-left: 45px;
}
input[type=submit].icon i,
.btn.icon i {
  position: absolute;
  left: 18px;
  top: 11px;
}

input[type=text],
input[type=tel],
select {
  padding: 6px 14px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  font-family: inherit;
  font-size: inherit;
}

form {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.container {
  margin: 0 20px;
}
.container .center {
  margin: 0 auto;
}
.container .items-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 300px));
  grid-gap: 30px;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .container .items-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .container .items-container {
    grid-template-columns: 1fr;
  }
}
.container .card {
  max-width: 500px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container .card.item {
  max-width: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: inherit;
  text-align: center;
  transition: transform 0.2s ease;
}
.container .card.item:hover {
  text-decoration: none;
  transform: translateY(-5px);
}
.container .card.item > h2 {
  margin-top: 10px;
}
.container .card.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .card img.thumbnail {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container .card > ul {
  padding-left: 25px;
}
.container .card > ul li:not(:last-child),
.container .card > p:not(:last-child) {
  margin-bottom: 15px;
}
.container .card > p:first-of-type:not(:first-child) {
  margin-top: 15px;
}
.container .title {
  color: rgb(77, 77, 192);
  text-align: center;
  margin-bottom: 20px;
}
.container .image-container {
  height: 300px;
  max-width: 500px;
  box-shadow: rgba(99, 99, 99, 0.9) 0 0 10px 0px;
}
.container .image-container,
.container .image-container img {
  border-radius: 8px;
}
.container .image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=style.css.map */